.panel{
    padding: 1rem;
}
.panel h2{
    color: #ef5350;
}

.panel-introdution-title{
    width: 80%;
}

.panel-introdution-data{
    width: 20%;
}

.panel .panel-introdution h2{
    padding-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.panel .panel-introdution p{
    font-size: 1rem;
}

.panel .component-list{
    padding: 1rem;
    margin-top: 1.5rem;
    justify-items: center;
}

.panel-dashboard h2{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

.panel-dashboard .grafics{
    justify-content: center;
    align-items: center;
}

.panel-dashboard .grafics div{
    margin: 0 1.5rem;
}

.component-list > h2{
    font-size: 1.8rem;
    text-align: center;
}

.component-list .list-pokemons{
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: center;
}

@media screen and (max-width: 760px) {
    
    
        .panel-introdution-title{
            width: 100%;
        }

        .panel-introdution-data{
            width: 100%;
        }

        .panel-dashboard .grafics{
            justify-content:space-between;
        }

    }