.card_single{
    cursor: pointer;
    flex: calc(100% / 3);
    margin: 1.2rem 0;
    text-align: center;
}

.card_single:hover{
    transform: scale(1.05);
}

.card_single > h2{
    font-weight: 400;
    margin-top: .5rem;
}

.card_single img{
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 1rem;
    max-width: 200px;
}

.card_single .abilidade_type{
    margin-top: .8rem;
}

.card_single .abilidade_type p{
    margin: .5rem 0;
    margin-left: 4rem;
    max-width: max-content;
    padding: .4rem .8rem;
    color: #fff;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}