
header{
    width: 100%;
}

header.flex{
    justify-content: flex-end;
    align-items: center;
}

.style-icons{
    cursor: pointer;
    font-size: 2rem;
    margin-right: .5rem;
    background-color: #fff;
    transition: 0.3s;
    color: #ef5350;
    padding: .5rem;
}

.icon-alerta:hover > .style-icons,
.style-icons:hover{
    background-color: #efe450;
}

.nome-usuario{
    padding-top: 5px;
    margin-right: 2rem;
}

.nome-usuario h2{
    font-weight: 500;
    color: #efe450;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.icon-alerta{
    position: relative;
    margin-right: 1rem;
}

.icon-alerta .alert-number{
    cursor: pointer;
    top: -.5rem;
    right: .1rem;
    padding: 1px 5px;
    font-size: .9rem;
    color: #fff;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.main-content{
    width: 100%;
    padding: 1.2rem 0;
    padding-right: 2rem;
   background-color: #ef5350;
}

.main-content .pensquisa-campo input{
    padding-left: .5rem;
    outline: 0;
    border: 1px solid #be3f3d;
}


@media screen and (max-width: 760px) {
    
    .main-content .flex{
        flex-direction: row;
    }

    }

@media screen and (max-width: 610px) {
    
    .nome-usuario{
        display: none;
    }

    .main-content .pensquisa-campo input{
        max-width: 100px;
    }
}