div.sidebar{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 31, 31);
}

div.sidebar .logo{
    background-color: rgb(15, 15, 15);
    padding: 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

div.sidebar .logo h2{
    color: #4de5e5;
    font-weight: 500;
    font-size: 1.5rem;
}

div.sidebar nav ul li{
    margin: 1.4rem 0;
    list-style-type: none;
}

div.sidebar nav ul li a{
    transition: 0.3s;
    font-size: 1.3rem;
    color: #20dfdf;
    text-decoration: none;
}


div.sidebar nav ul li span{
    color: #2050df;
    transition: 0.3s;
}


div.sidebar nav ul li:hover a{
    color: #2050df;
}

div.sidebar nav ul li:hover span{
    color: #20dfdf;
}