  
.flex{
    display: flex;
    justify-content: space-around;
}

.App-flex{
  justify-content: right;
}
  
.flex-column{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.site{
  width: 80%;
}

.border-principal{
  background-color: #fff;
  padding: 1rem;
  margin: .5rem;
  border: 1px solid #ef5350;
}

body{
  background-color: #e9e9e9;
}

@media screen and (max-width: 760px) {

    
    .flex{
      flex-direction: column;
    }

    
    .site{
      width: 100%;
    }
  
}