*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

.flex{
  display: flex;
  justify-content: space-around;
}

.flex-column{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

body{
  background-color: #FAF9FC;
}